#background{
    -fx-background-image: url("../Images/BabyGoatLogin.jpg");
    -fx-background-size: 1440 900;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}
#Panel{
    -fx-background-color: white;
    -fx-background-radius: 10;
}